# Secrets - dürfen niemals ins Docker-Image gebacken werden (landet sonst evtl. in der
# GitHub Container Registry).
.env
*.pem
secret.key

# Git/IDE
.git
.github
.gitignore

# Python Müll
__pycache__/
*.py[cod]

# Lokale Datenbank-/Build-Ordner
attendance_db/
